# Node
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# Serverless / builds
.serverless/
.webpack/
dist/
build/
.tmp/
temp/
tmp/

# Coverage / cache
coverage/
.nyc_output/
.jest/
jest-stare/
jest-html-reporters-*.html

# Env / credenciales
.env
.env.*
*.pem
*.key

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
